body{
  background-color: #f1f1f1;
}

#three-canvas-container{
  height: 100vh !important;
}

.configurator{
  position: fixed;
  right: 24px;
  bottom: 25vh;
  width: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}