@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #f1f1f1;
  font-family: 'Poppins',sans-serif;
}

#three-canvas-container{
  height: 100vh !important;
}

.configurator{
  position: fixed;
  right: 24px;
  bottom: 25vh;
  width: 360px;
  padding: 24px;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 16px;
}

.configurator__section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}